.available {
  @apply container mx-auto p-20 flex justify-between flex-col items-center mintablet:items-start mintablet:flex-row sm:p-5;
}

form {
  @apply flex flex-col w-full mintablet:w-1/3 space-y-5  mb-20 mintablet:mb-0;
}

form h1 {
  @apply text-3xl py-0 mb-5 font-playfair sm:text-xl sm:m-0;
}

form input,
form select {
  @apply h-20 w-full px-5 border-gray-500 border-[1px] bg-transparent rounded-md outline-none text-sm md:text-[16px] mintablet:text-lg text-gray-800 placeholder:text-xl;
}
form input:focus,
form select:focus {
  @apply outline-none border-2 border-gray-800;
}
option {
  @apply text-xl;
}

form .submit {
  @apply bg-black text-white text-2xl  w-full min-w-fit mx-auto px-5 py-5 justify-self-center;
}

.reserve-imgs {
  @apply mintablet:w-2/3 mintablet:pl-10 grid grid-cols-2 gap-5 w-full p-0;
}
